<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/userprofile.css" >
    <title>User Profile</title>
</head>
<body>
    <%-include('../layouts/header.ejs')%>    
    <div class="container-fluid d-flex flex-row mt-4 pl-5 pr-5">           
        <table class="table bg-light w-25 rounded">
            <tbody>
            <% if(!profile) { %>                
                <% } else { 
                    if(profile.edu.length === 0) { %>
                        <tr>                                                                               
                            <th scope="row">
                                <p>No education data, add new one? </p>
                            </th>   
                            <td class="text-center">                                             
                                <a href="/profile/management/edu" class="btn btn-info">Add education</a>
                            </td>
                        </tr>                                            
                    <% }                    
                    profile.edu.forEach(edu => { %>
                        <tr>                                                
                            <td colspan="2">                                
                                <span class="bg-success text-white p-1 rounded"><%=edu.from%></span> - <span class="bg-success text-white p-1 rounded"><%=edu.to%></span>
                                <div class="float-right dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
                                        <a href="/profile/management/edu" class="btn btn-info w-100">New</a>                                
                                        <form action="" method="PUT" class="w-100 py-1">
                                            <input type="text" name="edu-id" hidden value="">
                                            <button class="btn btn-warning w-100">Edit</button>
                                        </form>                              
                                        <form action="" method="DELETE" class="w-100">
                                            <input type="text" name="edu-id" hidden value="">
                                            <button class="btn btn-danger w-100">Delete</button>
                                        </form>                            
                                    </div>
                                </div>                                
                            </td>
                        </tr>
                        <tr>
                            <th style="font-style: italic">School:</th>                            
                            <td><%=edu.school%></td>                                                        
                        </tr>
                        <tr>
                            <th style="font-style: italic">Major:</th>                            
                            <td><%=edu.major%></td>                                                        
                        </tr>
                        <tr>
                            <th style="font-style: italic">Rewards:</th>                            
                            <td><%=edu.rewards%></td>                                                        
                        </tr>
                    <% })                 
                } %>
            </tbody>
        </table> 
        <table class="table w-50 mx-auto bg-light rounded">
            <tbody>
                <% if(!profile) { %>
                <tr>
                    <th scope="row">
                        <img src="/img/coders-tokyo-logo.svg" alt="" class="avatar-img" style="width: 120px; height: 120px; border-radius: 50%;">
                    </th>
                    <td>    
                        <h3>Hello <%=payload.accountname%>, update your profile now?</h3>
                    </td>
                <tr>   
                <tr>
                    <th></th>
                    <td>               
                        <div class="float-right">
                            <a href="/profile" class="btn btn-warning mt-1">Edit profile</a>
                            <a href="" class="btn btn-dark mt-1">Change password</a>
                        </div>
                    </td>                    
                </tr>                                                      
                <% } else { %>
                <tr>
                    <th scope="row">
                        <img src="/img/coders-tokyo-logo.svg" alt="" class="avatar-img" style="width: 120px; height: 120px; border-radius: 50%;">
                    </th>   
                    <td>                                             
                        <h3><%=profile.firstname%> <%=profile.lastname%></h3>
                        <p>Job position at Job location</p>
                        <div class="d-flex flex-row">
                            <a class="navbar-brand" href="<%=profile.social.facebook%>" target="_blank">
                                <img src="/img/facebook-brands.svg" alt="facebook" class="avatar-img" style="width: 30px;">
                            </a>
                            <a class="navbar-brand" href="<%=profile.social.github%>" target="_blank">
                                <img src="/img/github-brands.svg" alt="github" class="avatar-img" style="width: 30px;">
                            </a>
                            <a class="navbar-brand" href="<%=profile.social.linkedin%>" target="_blank">
                                <img src="/img/linkedin-brands.svg" alt="linkedin" class="avatar-img" style="width: 30px;">
                            </a>                                               
                        </div>                     
                        <div class="d-flex flex-row">
                            <a class="navbar-brand">
                                <img src="/img/coders-tokyo-logo.svg" alt="facebook" class="avatar-img" style="width: 30px;">
                            </a>
                            <a class="navbar-brand">
                                <img src="/img/coders-tokyo-logo.svg" alt="facebook" class="avatar-img" style="width: 30px;">
                            </a>
                            <a class="navbar-brand">
                                <img src="/img/coders-tokyo-logo.svg" alt="facebook" class="avatar-img" style="width: 30px;">
                            </a>
                        </div>   
                    </td>                    
                </tr>
                <tr>
                    <th>
                        User information: 
                        <hr/>
                    </th>                    
                </tr>                                         
                <tr>
                    <th>Account Id</th>
                    <td>
                        <input type="text" class="form-control" placeholder="<%=user.accountname%>" disabled>
                    </td>
                </tr>
                <tr>
                    <th>Joined</th>
                    <td>
                        <input type="text" class="form-control" placeholder="<%=user.createDate%>" disabled>
                    </td>
                </tr>                
                <tr>
                    <th>Email</th>
                    <td>
                        <input type="text" class="form-control" placeholder="<%=profile.email%>" disabled>
                    </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <input type="text" class="form-control" placeholder="<%=profile.address%>" disabled>
                    </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>
                        <input type="text" class="form-control" placeholder="<%= profile.age%>" disabled>
                    </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>
                        <input type="text" class="form-control" placeholder="<%=profile.phone%>" disabled>
                    </td>
                </tr>    
                <tr>
                    <th></th>
                    <td>               
                        <div class="float-right">
                            <a href="/profile" class="btn btn-warning mt-1">Edit profile</a>
                            <a href="" class="btn btn-dark mt-1">Change password</a>
                        </div>
                    </td>                    
                </tr>            
                <% } %>                 
            </tbody>
        </table>                
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>