<table class="table bg-light w-25 rounded">
    <tbody>
    <% if(!profile); 
        else { 
            if(profile.edu.length === 0) { %>
                <tr>                                                                               
                    <th scope="row">
                        <p>No education data, add new one? </p>
                    </th>   
                    <td class="text-center">                                             
                        <a href="/profile/management/edu" class="btn btn-info">Add education</a>
                    </td>
                </tr>
            <% } else {
                const renderData = profile.edu[0]; %>                                        
                <tr>                                                
                    <td colspan="2">                                
                        <span class="bg-success text-white p-1 rounded"><%=renderData.from%></span> - <span class="bg-success text-white p-1 rounded"><%=renderData.to%></span>
                        <div class="float-right dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
                                <a href="/profile/management/edu" class="btn btn-info w-100">New</a>                                        
                                <a href="/profile/management/<%=user._id%>/edu/<%=renderData._id%>" class="btn btn-warning w-100">Edit</a>                                                                                
                                <form action="/profile/management/<%=user._id%>/edu/<%=renderData._id%>?req-method=delete" method="POST" class="w-100">
                                    <input type="text" name="id" hidden value="<%=renderData._id%>">
                                    <button class="btn btn-danger w-100">Delete</button>
                                </form>                            
                            </div>
                        </div>                                
                    </td>
                </tr>
                <tr>
                    <th style="font-style: italic">School:</th>                            
                    <td><%=renderData.school%></td>                                                        
                </tr>
                <tr>
                    <th style="font-style: italic">Major:</th>                            
                    <td><%=renderData.major%></td>                                                        
                </tr>
                <tr>
                    <th style="font-style: italic">Rewards:</th>                            
                    <td><%=renderData.rewards%></td>                                                        
                </tr>                               
            <% }
        } %>
    </tbody>
</table>